 # Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask stuff:
instance/
.webassets-cache

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#Visual Studio Code
.vscode

# Local History for Visual Studio Code
.history/

# Static generated image
static/img.jpg