<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<title>Garbage Image Prediction</title>
	<link href="static/bootstrap.min.css" rel="stylesheet" 
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<style>
		@media screen and (max-width: 650px) {
  			img {
    			width: 100%;
				height: auto;
  			}
		}
	</style>
</head>
<body>
	<div class="col-lg-8 mx-auto p-3 py-md-5">
		<header class="d-flex pb-3 mb-5 border-bottom">
		  <a href="/" class="d-flex text-dark text-decoration-none">
			<span class="fs-4">Garbage Image Detection</span>
		  </a>
		</header>
	  
		<main>
		  <h2 class="mb-4">Upload your image :</h2>
		  <div class="mb-5">
			<form action="/" method="POST" enctype="multipart/form-data">
				<div class="input-group">
					<input type="file" class="form-control" id="img" name="img" aria-describedby="img-form" aria-label="Choose file">
					<button class="btn btn-primary" type="submit" id="img-form">Submit</button>
				</div>
			</form>
		  </div>
		  <hr class="col-5 mb-4">
		  <div class="col">
			<div class="row mb-4">
				<center><img onerror="this.style.display = 'none'" src="static/img.jpg"  alt="Uploaded Image" width="400" height="400"></center>
			</div>
			<div class="row">
			  <h2>Result prediction</h1>
			  <p>{{prediction}}</p>
			</div>
		<footer class="pt-5 my-5 text-muted border-top">
		  Created by B21-CAP0326 &middot; &copy; 2021
		</footer>
	  </div>
</body>
</html>